/* Text */
body {
  border: 5px solid var(--border);
  margin: 1px;
}


h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
}
:root {
  --border: rgb(67, 100, 191);
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 1506px;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-item {
  margin: 0px 15px;
}
/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/Hero\ Tag.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(65vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#bio-image {
  width: 200px;
  height: auto;
  margin: 5px;
  border: 2px solid var(--border);
}

/* Jumbotron copy */
.hero-banner {
  width: 70%;
  min-width: 350px;
  max-width: 500px;
  color: white;
  text-align: center;
}

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {
  text-align: center;
}
.showsNear  {
  padding: 0px 30px 30px 30px;
}
.cardContainer {
  text-align: center;
}

/* Content */
.sideAccent {
  background: #007bff;
  width: 15px;
}
.imageContainer img {
  width: 100%;
}
.imageContainer {
  padding: 50px;
}
.card-img-top {
  width: auto;
  height: 250px;
  border: 5px solid var(--border);
}
.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Footer */
.emailContain {
  background: url(../images/Hero\ Tag.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

/* Footer form */
form {
  width: 500px;
  margin: 35px;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
